nav.navbar.navbar-toggleable-md.navbar-light
  button.navbar-toggler.navbar-toggler-right( type='button'
                                              data-toggle='collapse'
                                              data-target='#navbar-content'
                                              aria-controls='navbar-content'
                                              aria-expanded='false'
                                              aria-label='Toggle navigation')
    span.navbar-toggler-icon

  a.navbar-brand(href='#') Coroutine
  #navbar-content.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='#') Services
      li.nav-item
        a.nav-link(href='#') Story
 
